.i {
    display: flex;
    height: 100vh;
    background-color: #393E46;
    color: #EEEEEE;
    opacity: 0;
    transition: opacity 1.5s ease-in-out;
  }

  .fade-in {
    opacity: 1;
  }

  .i-left {
    display: flex;
    align-items: center;
    justify-content: center; 
    width: 100%;
  }
  
  .r-right {
    display: flex;
    width: 100%;
  }

  .i-left-wrapper {
    padding: 20px;
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-items: normal;
      
  }
  
  .i-name {
    font-size: 75px;
    font-family: 'Mova', sans-serif;
    color: black;
  }
  

  .welcome {
    font-size: 60px;
    font-family: 'Poppins Black', sans-serif;

  }

  .i-title {
    height: 60px;
    overflow: hidden;
    
  }
  
  .i-title-wrapper {
    height: 100%;
    animation: move 10s ease-in-out infinite alternate;
  }
  
  @keyframes move {
    25% {
      transform: translateY(-50px);
    }
    50% {
      transform: translateY(-100px);
    }
    75% {
      transform: translateY(-150px);
    }
    100% {
      transform: translateY(-200px);
    }
  }
  
  /*The items that have the animation*/
  .i-title-item {
    height: 50px;
    font-size: 25px;
    font-weight: bold;
    color: #FFD369;
    display: flex;
    align-items: center;
  }
  
  .i-title-description{
  font-size:x-large;
  font-family: 'EerieBlack';

  }
  
  /*Css for the portrait image*/
  .i-img{ 
    height: 100%;
    width: auto;
    max-width: 80%;
    object-fit: contain;
    position:absolute;  
    left: 55%;
  }
  
  /*This is the polygon background*/
  .i-bg {
    /*clip-path: polygon(25% 0%, 100% 0, 100% 50%, 100% 100%, 25% 100%, 0% 50%);*/
    clip-path: polygon(25% 0%,70% 0%,40% 35%,95% 35%,20% 100%,40% 55%,0% 55%);
    background-color: #FFD369;
    width: 50%;
    height: 100%;
    position: absolute; /* Change to fixed to position relative to the viewport */
    top: 0; /* Align to the top */
    right: 0; /* Align to the right */
    
  }
  
